<div id="st_data_section" style="display: none">
  <p
    id="st_product"
    style="display: none"
    data-shopthru-product-id="{{ product.id }}"
    data-shopthru-product-handle="{{ product.handle }}"
    data-shopthru-campaign-type="{{
      product.metafields.shopthru_meta.filter.value.type
    }}"
    data-shopthru-max-discount="{{
      product.metafields.shopthru_meta.filter.value.max_discount
    }}"
    data-shopthru-campaign-ids="{{
      product.metafields.shopthru_meta.filter.value.ids | join: ','
    }}"
  ></p>
  <p class="line-item-property__field shopthru-signature" style="display: none">
    <label for="st_sign">Signature</label>
    <input
      required
      class="required"
      id="st_sign"
      type="text"
      readonly
      name="properties[_unique_signature]"
    />
  </p>
</div>
